<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
      <link rel="stylesheet" href="./responsive.css">
    <title>WORKERS</title>
</head>
<body>
  {# NAV BARRE #}
 <header>
  <div id='banner'>
    <div id="appName"><H1>WORKERS</H1></div>
  </div>
 </header>

<main>
 <section id="sectionIndexContent">
     <p>-your team lister- </p>
     <div id="forBackground">
     <img id='workersImg'src="./images/workersImg.jpg" alt="dessin d'une workteam" > 
          <button id="boutonConnect"><a href="/login">Se connecter</a></button>
          <button id="boutonRegistrer"><a  href="/registrerCompagny">S'enregistrer</a></button>
    </div>
 </section>
</main>

<script src="./script/main.js"></script>
</body>
</html>